*{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width : 100vw;
  height: 100vh;
  background : linear-gradient(to bottom, #00467F, #A5CC82) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li{
  text-align: center;
  line-height: 30px;
}

img{
  width: 150px;
  height: 150px;
}

.inputContainer{
  display: flex;
  margin-bottom: 50px;
}

input {
  width:200px;
  height: 30px;
  margin-right: 10px;
  padding-left: 10px;
}

button{
  border-radius: 5px;
}



