*{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width : 100vw;
  height: 100vh;
  background : linear-gradient(to bottom, #00467F, #A5CC82) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li{
  text-align: center;
  line-height: 30px;
}

input {
  width : 90%;
  margin: 0 auto;
  height: 22px;
}

ul li:first-child{
  text-indent: -9999px;
  width : 150px;
  height: 150px;
  margin-bottom: 15px;
  background: url('../images/profile.png') no-repeat;
  background-size: 150px 150px;
}


