/* Eric Meyer꺼 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: "NotoSansKR", sans-serif;
  line-height: 1;
}
ol, ul {
	list-style: none;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.readable-hidden {
  position: absolute;
  width : 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
}

.container{
  position: fixed;
  width:100vw;
}

header{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width:100vw;
  margin: 0 auto;
}
.navigation{
  width:60vw;
}
.menu{
  display: flex;
  justify-content: space-between;
}

.menu-link{
  font-size: 0.9rem;
  color: #181818;
}

.sub-menu{
  position: absolute;
  top:58px;
  /* display: none; */
  border-top: 2px solid tomato;
  background-color: #424242;
  opacity: 80%;
  width:260px;
  color:#fff;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 30px;
  padding: 20px;
  margin-left: -20px;
}

img{
  width:193.41px;
  height: 55px;
}
.main{
  background-color: violet;
  height: 800px;
}
